In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = load_iris()

In [3]:
df = pd.DataFrame(data.data,columns=data.feature_names)

In [4]:
target = data.target
target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [5]:
ss = MinMaxScaler()
x = ss.fit_transform(df)

In [6]:
for i in range(len(x)):
    for j in range(4):
        if x[i][j]> 0.5 :
            x[i][j] = 1
        else:
            x[i][j] = 0

In [7]:
x=x.astype(np.int8)

In [8]:
x

array([[0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 1, 1, 1],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 0, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [1, 1, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [0, 0, 1, 1]], dtype=int8)

In [9]:
enc_target = pd.get_dummies(target)

In [10]:
enc_target

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

[150 rows x 3 columns]

In [11]:
enc_target.drop(columns=enc_target.columns[0], axis=1)

     1  2
0    0  0
1    0  0
2    0  0
3    0  0
4    0  0
..  .. ..
145  0  1
146  0  1
147  0  1
148  0  1
149  0  1

[150 rows x 2 columns]

In [12]:
weights = np.matmul(np.transpose(x),enc_target)

In [13]:
type(weights)

pandas.core.frame.DataFrame

In [14]:
weights

    0   1   2
0   0  16  39
1  33   2   8
2   0  39  50
3   0  35  50

In [15]:
tested_op = list()
for i in range(len(x)):
    k = np.matmul(x[i],np.asarray(weights))
    tested_op.append(list(k))

In [16]:
tested_op

[[33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [0, 0, 0],
 [33, 2, 8],
 [0, 0, 0],
 [33, 2, 8],
 [33, 2, 8],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 74, 100],
 [33, 92, 147],
 [0, 0, 0],
 [0, 90, 139],
 [0, 35, 50],
 [0, 0, 0],
 [0, 74, 100],
 [0, 39, 50],
 [0, 74, 100],
 [0, 35, 50],
 [0, 90, 139],
 [0, 74, 100],
 [0, 39, 50],
 [0, 90, 139],
 [0, 0, 0],
 [0, 74, 100],
 [0, 74, 100],
 [0, 90, 139],
 [0, 39, 50],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 74, 100],
 [0, 74, 100],
 [33, 76, 108],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 74, 100],
 [0, 39, 50],
 [0, 74, 100],
 [0, 39, 50],
 [0, 0, 0],
 [0, 74, 100],
 [0, 39, 50],
 [0, 74, 100],
 [0, 90, 139],
 [0, 0, 0],
 [0, 74, 100],
 [33, 92, 147],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [0, 74, 100],
 [0, 90, 139],
 [33, 92, 147],
 [0, 90, 139],
 [0, 90, 139],
 [0, 90, 139],
 [33, 92, 147],
 [0, 74, 100]]

In [17]:
import matplotlib.pyplot as plt
import numpy as np

def hebb(weights, input, target, bias):
    for ip in range(len(input)):
        weights[0] += input[ip][0] * target[ip]
        weights[1] += input[ip][1] * target[ip]
        bias += target[ip]
        print(f" W_1 = {weights[0]}, W_2 = {weights[1]}, b = {bias} ")
    return weights, bias

In [43]:
class Hebb():
    def __init__(self,in_channels=4):
        self.weights = np.zeros(in_channels,dtype=np.int8)
        self.bias = np.zeros(1,dtype=np.int8)
        
    def epoch(self,x,target):
        for i in range(len(x)):
            self.weights[i] += x[i]*target
        self.bias += target
        return self.weights,self.bias
    
    def train(self,x,t):
        for i in range(len(x)):
            self.epoch(x[i],t[i])
        return self.weights,self.bias

In [44]:
model = Hebb(3)

In [45]:
a = [[-1,-1,1],[-1,1,1],[1,-1,1],[1,1,1]]
t = [-1,-1,-1,1]

In [46]:
model.train(a,t)

(array([ 2,  2, -2], dtype=int8), array([-2], dtype=int8))